extends layout
block content
	.w3-container
		.w3-card-4
			header.w3-container.w3-costum-color-1
				h1 
					a.w3-btn.w3-hover-costum-color-2(href='http://localhost:5000/') MyFacebook
					a.w3-btn.w3-hover-costum-color-2(href='http://localhost:5000/logout' style='float:right') Logout
			.w3-container
				img(src=user.imagem style='max-width:25%;margin:50px;display:inline-block;float:left')
				div(style='display:inline-block;width:55%;margin:50px')
					h1= user.nome
					hr
					b Email: 
					a(href='mailto:')= user.email
					br
					b Data de Nascimento: 
					a= user.dataNascimento
					br
					b Género: 
					a= user.genero
					br
					b Morada: 
					a= user.localidade
					br
					b Descrição:
					a= user.descricao
					p
						a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='/editarconta' style='padding-left:30px;padding-right:30px;float:right') Editar