extends layout
block content
	.w3-container
		.w3-card-4
			header.w3-container.w3-costum-color-1
				h1 
					a.w3-btn.w3-hover-costum-color-2(href='http://localhost:5000/') MyFacebook
					a.w3-btn.w3-hover-costum-color-2(href='http://localhost:5000/logout' style='float:right') Logout
			.w3-container
				div(style='max-width:25%;margin:50px;display:inline-block;float:left')
					img(src=user.imagem style='width:100%;display:inline-block')
					br
					form.w3-container(method="POST" action="/alterarimagem" enctype='multipart/form-data')
						br
						input.w3-input.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(type='file' name='ficheiro')
						input.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(type='submit' value='Enviar')
				div(style='display:inline-block;width:55%;margin:50px')
					form.w3-container(method="POST" action="/users/atualiza")
						h1=user.nome
						br
						b Email: 
						a(href='mailto:')= user.email
						br
						br
						b Data de Nascimento: 
						a= user.dataNascimento
						br
						br
						b Género: 
						a= user.genero
						br
						br
						b Localidade: 
						a= user.localidade
						br
						br
						b Descrição: 
						a= user.descricao
						textarea.w3-input.w3-costum-color-5(style='margin-top:10px' name='texto' rows='8' cols='132' placeholder='Descrição...')
						br
						input.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(type="submit" value="Editar" style='padding-left:30px;padding-right:30px;float:right')