extends header
block content2
	each p in posts
		.w3-container(style='margin-bottom:20px;margin-top:20px')
			.w3-card-4
				div.w3-costum-color-1(style='padding:10px')
					h5(style='display:inline-block;') Autor: 
						a= p.autor
					h5(style='display:inline-block;float:right') Categoria: 
						if p.categoria
							a(href='gukjn')= p.categoria
				div.w3-border(style='padding:10px')
					h6(style='display:inline-block;')
						if p.hashtag
							a(href='sdsf') ##{p.hashtag}
					h6(style='display:inline-block;float:right')
						if p.data
							a(href='gukjn' style='float:right')= p.data
					br
					a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='/posts/privacidade/'+p._id) Editar Privacidade
				div.w3-border(style='padding:10px')
					p= p.texto
					a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='/posts/like/'+p._id style='padding-left:50px;padding-right:50px') Like: (#{p.likes})
					a.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(href='https://www.facebook.com/sharer/sharer.php?u=http://google.pt&quote='+p.texto style='padding-left:50px;padding-right:50px;float:right') Partilhar
				div.w3-border(id='comentarios' style='padding:10px')
					h5(style='display:inline-block;') Comentários:
					hr
					if p.comentarios
						each c in p.comentarios
							h5(style='padding-left:10px;display:inline-block;') Autor: 
								a(href='sdsf')= c.autor
							p(style='padding-left:10px;padding-right:10px')= c.comentario
							hr
				div.w3-border(style='padding:10px')
					form.w3-container(method="POST" action="/posts/comentario/"+p._id)
						input.w3-input.w3-costum-color-5(type="text" name="comentario" placeholder="Comentário" style='margin-top:10px' required)
						input.w3-btn.w3-hover-costum-color-2.w3-round-xxlarge.w3-costum-color-1(type="submit" value="Comentar" style='margin-top:10px;margin-bottom:20px')